@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

:root {
  --primary: #007bff;
  --secondary: #006db5;
}

.rm-decoration {
  list-style: none;
  text-decoration: none;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

body {
  background: url("assests/background.jpg") no-repeat center center / cover fixed content-box;
  text-align: center;
  height: 100vh;
  width: 100%;
}

form {
  border-radius: 5px;
  padding: 1.9rem;
  background-color: white;
  text-align: left;
  max-width: 60%;
}

.header {
  margin: 0;
  padding: 1.5rem;
  background-color: var(--secondary);
  color: white;
}

.addTask {
  gap: 1rem;
  margin-top: 1rem;
  padding: 0 .6rem;
}

.input {
  width: 100%;
}

ul {
  padding-left: 0;
  margin-bottom: 1.1rem;
}

input {
  border: none;
}

li,
input {
  padding: 6px;
  display: flex;
}



li {
  justify-content: space-between;
}

.bi {
  cursor: pointer;
}

li input:checked~.edit {
  text-decoration: line-through;
  opacity: 0.5;
}

.edit {
  width: 100%;
}

.ClearC {
  padding: 4%;
}

a {
  color: var(--secondary);
}

.plus-button {
  width: 40px;
  height: 40px;
  background-color: #0077cc;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
}

.plus-button:before,
.plus-button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 2px;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

.plus-button:before {
  transform: translate(-50%, -50%) rotate(90deg);
}

.plus-button:hover:before,
.plus-button:hover:after {
  background-color: #eee;
}

@media screen and (max-width: 768px) {
  from {
    width: 100%;
  }

}